@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap%27);
@import url('https://fonts.googleapis.com/css2?family=Grechen+Fuemen&display=swap');

/*--------------
    page web 
---------------*/

*{
    font-family: "Montserrat";
}

html{
    scroll-behavior: smooth;
}

body{
    margin: 0 auto;
    background-color: #303235;
}

/*-----------------
    tête de page 
------------------*/

header.header{
    display: flex;
    align-items: center;
    background-color: rgb(48, 50, 53, 0.8);
}

header.header img{
    border-radius: 50px;
    margin-left: 50px;
    width: 90px;
}

section.top-page{
    background: url("banniere.png");
    background-size: cover;
    height: 95vh;
}

/*-----------------------
    menu de navigation 
------------------------*/

nav.nav {
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 450px;
    margin-left: 30px;
    flex-wrap: wrap;
}

nav.nav li a{
    padding: 10px;
    color: white;
    text-decoration: none;
    font-size: 20px;
    transition: ease-out 0.5s;
    border-radius: 10px;
}

nav.nav li a:hover{
    color: black;
    box-shadow: inset 300px 0 0 0 white;
}

nav.nav .barre{
    display: block;
    height: 25px;
    width: 3px;
    background-color: white;
}

/*------------------
    présentation 
-------------------*/

/* .title{
    text-align: center;
    font-size: 150px;
    color: white;
    font-family: "Grechen Fuemen";
} */

.live {
    text-align: center;
}

.text {
    font-size: 25px;
    display: block;
    text-align: center;
    margin: auto;
    color: white;
}

.gif{
    display: block;
    max-width: 100%;
    height: auto;
    margin: auto;
    padding: 40px;
}

.trait{
    width: 400px;
    height: 1px;
    background-color: white;
}

/*-----------------------
    liens des réseaux  
------------------------*/

.liens{
    display: flex;
    justify-content: space-evenly;
    margin: 50px;
    flex-wrap: wrap;
}

.liens-item{
    display: flex;
    align-items: center;
    flex-direction: column;
    flex: 1;
}

.boutton{
    display: inline-block;
    height: 60px;
    width: 60px;
    margin: 0 5px;
    background: white;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.4);
}

.boutton .icon-youtube, .icon-twitch, .icon-discord, .icon-twitter{
    display: inline-block;
    height: 60px;
    width: 60px;
    text-align: center;
    border-radius: 50px;
    box-sizing: border-box;
    line-height: 60px;
    font-size: 30px;
    color: black;
    transition: background-color 1s ease-out 100ms;
}

.boutton:hover .icon-youtube{
    background: red;
    transition: background-color 1s ease-out;
    color: #fff;
}
.boutton:hover .icon-twitch{
    background: #6441a5;
    transition: background-color 1s ease-out;
    color: #fff;
}
.boutton:hover .icon-discord{
    background: #7289da;
    transition: background-color 1s ease-out;
    color: #fff;
}
.boutton:hover .icon-twitter{
    background: #00aced;
    transition: background-color 1s ease-out;
    color: #fff;
}

/*-------------------------
    couleur insta :
background: linear-gradient(45deg, #ffde85 0%, #f7792a 30%, #f7504f 40%, #d82b81 60%, #d82b81 75%, #9536c2 100%);
--------------------------*/

.liens-details{
    color: white;
    width: 200px;
    text-align: center;
    font-size: 15px;
}

/*------------------
    pied de page 
-------------------*/

footer{
    display: flex;
    padding-left: 100px;
    background-color: black;
    color: white;
}

/*-------------------
    version mobile 
--------------------*/

@media all and (max-width: 768px) {

    body{
        margin: none;
    }

    header.header img{
        border-radius: 50px;
        margin-left: 20px;
        width: 50px;
    }

    section.top-page{
        height: 40vh;
    }

    nav.nav {
        justify-content: center;
        margin-left: 0px;
    }

    nav.nav li a{
        padding: 10px;
        font-size: 15px;
    }

    .title{
        font-size: 80px;
    }

    .text {
        font-size: 15px;
        padding: 5px;
    }

    .gif{
        margin-bottom: 20px;
        padding: 0px;
    }

    .trait{
        width: 200px;
    }

    .boutton{
        height: 40px;
        width: 40px;
        border-radius: 50px;
    }
    
    .boutton .icon-youtube, .icon-twitch, .icon-discord, .icon-twitter{
        height: 40px;
        width: 40px;
        border-radius: 50px;
        line-height: 40px;
        font-size: 20px;
    }

    .liens{
        margin: 30px;
    }

    footer{
        padding-left: 10px;
    }
}