@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap%27);
@import url('https://fonts.googleapis.com/css2?family=Grechen+Fuemen&display=swap');

/*--------------
    page web 
---------------*/

*{
    font-family: "Montserrat";
}

html{
    scroll-behavior: smooth;
}

body{
    margin: 0 auto;
    background-color: #303235;
}

/*-----------------
    tête de page 
------------------*/

header.header{
    display: flex;
    background-color: #303235;
}

header.header img{
    border-radius: 50px;
    margin: 8px 0 0 50px;
    width: 60px;
}

section.top-page{
    background: url("fond.png");
    background-size: cover;
    height: 95vh;
}

/*-----------------------
    menu de navigation 
------------------------*/

nav {
    list-style: none;
    margin-left: 30px;
    flex-wrap: wrap;
    height: 80px;
    width: 100%;
}

label.logo{
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 10px;
    font-weight: bold;
}

nav ul{
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    float: right;
    margin-right: 50px;
}

nav ul li{
    display: inline-block;
    margin: 5px 5px;
  }

nav ul li a{
    position: relative;
    display: block;
    padding: 5px;
    color: white;
    text-decoration: none;
    font-size: 20px;
    transition: 0.5s;
}

/* Barre en dessous text */

nav ul li a::after {
    position: absolute;
    content: "";
    top: 100%;
    left: 0;
    width: 100%;
    height: 3px;
    background: white;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s;
}

nav ul li a:hover::after{
    transform: scaleX(1);
    transform-origin: left
}

/*------------------
    présentation 
-------------------*/

.text {
    font-size: 30px;
    display: block;
    text-align: center;
    margin: auto;
    color: white;
}

.gif{
    display: block;
    max-width: 100%;
    height: auto;
    margin: auto;
    padding: 100px 0px 40px 0px;
}

section.streaming{
    background-color: black;
    width: 1254;
    height: 478;
}

.live {
    text-align: center;
}

/*-----------------------
    liens des réseaux  
------------------------*/

.social ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 50px;
}
.social ul li {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex: 1;
}
.social ul li .icon-twitter, .icon-discord, .icon-youtube {
    color: #000000;
    font-size: 30px;
    line-height: 50px;
    transition: .5s;
    padding: 15px;
}
.social ul li .icon-twitter:hover, .icon-discord:hover, .icon-youtube:hover {
    color: #ffffff;
}
.social ul li a {
    position: relative;
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 50px;
    background-color: white;
    text-align: center;
    transition: 0.5s;
    transform: translate(0,0px);
    box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.5);
}
.social ul li a:hover {
    transform: rotate(0deg) skew(0deg) translate(0, -10px);
}
.social ul div:nth-child(1) a:hover {
    background-color: #cd201f;
}
.social ul div:nth-child(2) a:hover {
    background-color: #55acee;
}
.social ul div:nth-child(3) a:hover {
    background-color: #7289da;
}

.lien-detail{
    color: white;
    font-size: 17px;
    width: 200px;
    text-align: center;
}

/*------------------
    pied de page 
-------------------*/

footer{
    display: flex;
    align-items: center;
    background-color: black;
    color: white;
}

.copyright{
    padding: 0px 30px 0px 100px;
}

footer .boutton{
    border-radius: 10px;
    cursor: pointer;
    height: 30px;
    width: 30px;
    margin-right: 100px;
    background-color: white;
}

footer .boutton:hover{
    background: linear-gradient(45deg, #ffde85 0%, #f7792a 30%, #f7504f 40%, #d82b81 60%, #d82b81 75%, #9536c2 100%);
}

footer .icon-insta{
    display: inline-block;
    color: black;
    padding: 2px 4px;
    font-size: 25px;
}

footer .icon-insta:hover{
    color: white;
}

/*-------------------
    version mobile 
--------------------*/

@media all and (max-width: 768px) {

    body{
        margin: none;
    }

    header.header img{
        border-radius: 50px;
        margin-left: 20px;
        width: 50px;
    }

    section.top-page{
        height: 40vh;
    }

    nav {
        justify-content: center;
        margin-left: 0px;
    }

    nav ul li a{
        padding: 10px;
        font-size: 15px;
    }

    .title{
        font-size: 80px;
    }

    .text {
        font-size: 15px;
        padding: 5px;
    }

    .gif{
        margin-bottom: 20px;
        padding: 0px;
    }

    footer{
        padding-left: 10px;
    }
}